In [1]:
import pandas as pd

In [2]:
data =pd.read_csv("Hitters.csv")

In [3]:
data.shape

(322, 20)

In [4]:
ex_missing_values = data.isnull().sum()
print(ex_missing_values)

AtBat         0
Hits          0
HmRun         0
Runs          0
RBI           0
Walks         0
Years         0
CAtBat        0
CHits         0
CHmRun        0
CRuns         0
CRBI          0
CWalks        0
League        0
Division      0
PutOuts       0
Assists       0
Errors        0
Salary       59
NewLeague     0
dtype: int64

In [5]:
data = data.fillna(data.mean())

C:\Users\HATİCE İKRA\AppData\Local\Temp\ipykernel_9604\476127175.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data = data.fillna(data.mean())

In [6]:
data

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,535.925882,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.000000,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.000000,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.000000,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.500000,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,497,127,7,65,48,37,5,2703,806,32,379,311,138,N,E,325,9,3,700.000000,N
318,492,136,5,76,50,94,12,5511,1511,39,897,451,875,A,E,313,381,20,875.000000,A
319,475,126,3,61,43,52,6,1700,433,7,217,93,146,A,W,37,113,7,385.000000,A
320,573,144,9,85,60,78,8,3198,857,97,470,420,332,A,E,1314,131,12,960.000000,A
321,631,170,9,77,44,31,11,4908,1457,30,775,357,249,A,W,408,4,3,1000.000000,A

In [7]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [14]:
data["NewLeague"] = labelencoder.fit_transform(data["NewLeague"].values)

In [15]:
data["League"] = labelencoder.fit_transform(data["League"].values)

In [18]:
data["Division"] = labelencoder.fit_transform(data["Division"].values)

In [19]:
data.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,...,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague,NDivision
0,293,66,1,30,29,14,1,293,66,1,...,29,14,0,0,446,33,20,535.925882,0,0
1,315,81,7,24,38,39,14,3449,835,69,...,414,375,1,1,632,43,10,475.000000,1,1
2,479,130,18,66,72,76,3,1624,457,63,...,266,263,0,1,880,82,14,480.000000,0,1
3,496,141,20,65,78,37,11,5628,1575,225,...,838,354,1,0,200,11,3,500.000000,1,0
4,321,87,10,39,42,30,2,396,101,12,...,46,33,1,0,805,40,4,91.500000,1,0

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
train,test = train_test_split(data,test_size =0.3)

In [22]:
x_train = train.drop("Salary",axis = 1)
y_train = train.loc[: , "Salary"]

In [23]:
x_test = train.drop("Salary",axis = 1)
y_test = train.loc[: , "Salary"]

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
model = LinearRegression()

In [30]:
model.fit(x_train,y_train)

LinearRegression()

In [31]:
predictions = model.predict(x_test)

In [41]:
comparison = pd.DataFrame({"Actual Valuse": y_test,"Predictions":predictions})

In [42]:
comparison.head()

     Actual Valuse  Predictions
250     535.925882   239.624329
15      535.925882   177.269540
83      535.925882   207.167821
320     960.000000   835.780935
308     750.000000   487.558165

In [43]:
comparison.tail()

     Actual Valuse  Predictions
231          750.0   727.348007
73           535.0   867.688849
198          145.0   398.150613
161          657.0   935.256092
223          240.0   276.657932

In [44]:
from sklearn.metrics import mean_squared_error
from numpy import sqrt

In [45]:
rmse = sqrt(mean_squared_error(y_test,predictions))
rmse

315.1026229784004

In [46]:
correlations = train.corr()

In [47]:
correlations

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,...,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague,NDivision
AtBat,1.000000,0.967608,0.549477,0.923285,0.813584,0.683636,0.037796,0.211562,0.226709,0.185395,...,0.207469,0.123551,-0.073990,-0.016834,0.303112,0.389410,0.360655,0.288918,-0.002949,-0.016834
Hits,0.967608,1.000000,0.516160,0.935883,0.806479,0.658703,0.041065,0.208583,0.234840,0.156138,...,0.200921,0.114756,-0.081506,-0.064921,0.298639,0.352755,0.311891,0.343963,-0.017366,-0.064921
HmRun,0.549477,0.516160,1.000000,0.610849,0.841974,0.440405,0.137168,0.224737,0.219244,0.492382,...,0.355026,0.216964,-0.178296,0.033261,0.284273,-0.121729,0.019952,0.263493,-0.146290,0.033261
Runs,0.923285,0.935883,0.610849,1.000000,0.810347,0.730496,0.012539,0.179233,0.196075,0.206950,...,0.196757,0.144675,-0.141944,-0.049422,0.292076,0.239339,0.246446,0.339050,-0.075352,-0.049422
RBI,0.813584,0.806479,0.841974,0.810347,1.000000,0.622321,0.150928,0.286091,0.296845,0.411412,...,0.375847,0.222195,-0.128167,-0.038314,0.351103,0.121098,0.182185,0.356764,-0.078369,-0.038314
Walks,0.683636,0.658703,0.440405,0.730496,0.622321,1.000000,0.149830,0.278741,0.278746,0.311196,...,0.301229,0.395353,0.014682,0.001648,0.291174,0.153933,0.124669,0.353127,0.064731,0.001648
Years,0.037796,0.041065,0.137168,0.012539,0.150928,0.149830,1.000000,0.933855,0.918037,0.754208,...,0.890743,0.864271,0.040733,0.019870,-0.019818,-0.105218,-0.181581,0.372503,0.057594,0.019870
CAtBat,0.211562,0.208583,0.224737,0.179233,0.286091,0.278741,0.933855,1.000000,0.995158,0.800407,...,0.949572,0.912139,0.071569,0.021198,0.027620,-0.022430,-0.105741,0.451137,0.098644,0.021198
CHits,0.226709,0.234840,0.219244,0.196075,0.296845,0.278746,0.918037,0.995158,1.000000,0.779842,...,0.943133,0.895305,0.077741,0.007394,0.043055,-0.029589,-0.107884,0.472761,0.108342,0.007394
CHmRun,0.185395,0.156138,0.492382,0.206950,0.411412,0.311196,0.754208,0.800407,0.779842,1.000000,...,0.930342,0.803857,-0.017858,0.026566,0.066336,-0.187331,-0.177090,0.404299,-0.007575,0.026566
CRuns,0.229532,0.231872,0.252137,0.225622,0.301774,0.323265,0.904754,0.986075,0.986806,0.818021,...,0.945190,0.931345,0.055745,0.003060,0.031684,-0.055312,-0.134020,0.473408,0.083582,0.003060
CRBI,0.207469,0.200921,0.355026,0.196757,0.375847,0.301229,0.890743,0.949572,0.943133,0.930342,...,1.000000,0.890470,0.042140,0.015824,0.067620,-0.109113,-0.144532,0.467001,0.061041,0.015824
CWalks,0.123551,0.114756,0.216964,0.144675,0.222195,0.395353,0.864271,0.912139,0.895305,0.803857,...,0.890470,1.000000,0.062681,0.014681,0.013151,-0.072844,-0.164855,0.397582,0.070721,0.014681
League,-0.073990,-0.081506,-0.178296,-0.141944,-0.128167,0.014682,0.040733,0.071569,0.077741,-0.017858,...,0.042140,0.062681,1.000000,0.018650,0.054142,0.078895,0.097818,0.051085,0.862791,0.018650
Division,-0.016834,-0.064921,0.033261,-0.049422,-0.038314,0.001648,0.019870,0.021198,0.007394,0.026566,...,0.015824,0.014681,0.018650,1.000000,0.042260,-0.004993,0.007887,-0.160470,-0.007729,1.000000
PutOuts,0.303112,0.298639,0.284273,0.292076,0.351103,0.291174,-0.019818,0.027620,0.043055,0.066336,...,0.067620,0.013151,0.054142,0.042260,1.000000,-0.002860,0.114569,0.202195,0.066461,0.042260
Assists,0.389410,0.352755,-0.121729,0.239339,0.121098,0.153933,-0.105218,-0.022430,-0.029589,-0.187331,...,-0.109113,-0.072844,0.078895,-0.004993,-0.002860,1.000000,0.706766,0.010543,0.062434,-0.004993
Errors,0.360655,0.311891,0.019952,0.246446,0.182185,0.124669,-0.181581,-0.105741,-0.107884,-0.177090,...,-0.144532,-0.164855,0.097818,0.007887,0.114569,0.706766,1.000000,-0.069208,0.066940,0.007887
Salary,0.288918,0.343963,0.263493,0.339050,0.356764,0.353127,0.372503,0.451137,0.472761,0.404299,...,0.467001,0.397582,0.051085,-0.160470,0.202195,0.010543,-0.069208,1.000000,0.075670,-0.160470
NewLeague,-0.002949,-0.017366,-0.146290,-0.075352,-0.078369,0.064731,0.057594,0.098644,0.108342,-0.007575,...,0.061041,0.070721,0.862791,-0.007729,0.066461,0.062434,0.066940,0.075670,1.000000,-0.007729
NDivision,-0.016834,-0.064921,0.033261,-0.049422,-0.038314,0.001648,0.019870,0.021198,0.007394,0.026566,...,0.015824,0.014681,0.018650,1.000000,0.042260,-0.004993,0.007887,-0.160470,-0.007729,1.000000

In [49]:
saleprice_correlations = correlations["Salary"]
saleprice_correlations

AtBat        0.288918
Hits         0.343963
HmRun        0.263493
Runs         0.339050
RBI          0.356764
Walks        0.353127
Years        0.372503
CAtBat       0.451137
CHits        0.472761
CHmRun       0.404299
CRuns        0.473408
CRBI         0.467001
CWalks       0.397582
League       0.051085
Division    -0.160470
PutOuts      0.202195
Assists      0.010543
Errors      -0.069208
Salary       1.000000
NewLeague    0.075670
NDivision   -0.160470
Name: Salary, dtype: float64

In [50]:
saleprice_correlations.sort_values(ascending=False).head(10)

Salary    1.000000
CRuns     0.473408
CHits     0.472761
CRBI      0.467001
CAtBat    0.451137
CHmRun    0.404299
CWalks    0.397582
Years     0.372503
RBI       0.356764
Walks     0.353127
Name: Salary, dtype: float64